
.map-container,#gmap_canvas{
    height:350px;
    width: 100%;
    color: antiquewhite;
}

.dataTable-top{
    background-color: #123c85;
    text-align: center;
}

.dataTable-search{
    float: none !important;
    margin-right: 150px;
}
#myTable,td,tr,a{
    color: antiquewhite !important;
}
td{
   direction: rtl;
   text-align: right;
   background-color: #123c85;
}
.dataTable-sorter ,li a{
    color: #123c85 !important;
    background-color: antiquewhite;
    font-weight: bold;
}
#myTable{
    border: 1px solid #fceeb1;
    width: 100% !important;
    font-size: 12px !important;
    font-weight: bold;
    background-color: #123c85;
}
.dataTable-input,th,.dataTable-selector{
    text-align: center;
   color: #123c85;
   background-color: antiquewhite;
   font-weight: bold;
}

label{
    color: antiquewhite;
}
