
.map-container,#gmap_canvas{
    height:350px;
    width: 100%;
    color: antiquewhite;
}

.dataTable-top{
    background-color: #188d87;
    text-align: center;
    width: 100%;
}

.dataTable-search{
    float: none !important;
    margin-right: 150px;
}
#myTable,td,tr,a{
    color: antiquewhite !important;
}
td{
   direction: rtl;
   text-align: right;
   background-color: #188d87;
}
.dataTable-sorter ,li a{
    color: #188d87 !important;
    background-color: antiquewhite;
    font-weight: bold;
}
#myTable,.gm-style-iw,td{
    border: 1px solid #fceeb1;
    font-size: 11px !important;
    font-weight: bold;
    background-color: #188d87!important;
   
}
.gm-style-iw-d{
    overflow: unset !important;
}
.gm-style-iw-d div
{
text-align: right;
}
.gm-ui-hover-effect{
    background-color: wheat !important;
}
.dataTable-input,th,.dataTable-selector{
    text-align: center;
   color: #188d87;
   background-color: antiquewhite;
   font-weight: bold;
}


label{
    color: antiquewhite;
}
#searchBtn
{
 height: 25px;

}


